<!-- <%= react_component("Main", {title: "Click to change aceBook's font!"}) %>
<%= react_component("Section") %> -->
<div>
  <%= react_component("Clicker", {name: 'dawdwa'}) %>
</div>
<div id="root">
</div>
