
<div class="container">
  <div class="row">
    <h2>Welcome to aceBook</h2>
  </div>
  <div class="row">
    <h4>Hello <%= @user_email %></h4>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= render 'posts/index' %>
    </div>

    <div class="col-sm">
      <%= render 'image_posts/index' %>
    </div>
  </div>
</div>
