<div class="container" style="text-align:center">
  <h1>ciCADA Chat</h1>
  <div>
    <p>
      <% User.find("last_sign_in_at", 15.minutes.ago).each do | user| %>
        <span><%= user %> </span>
      <% end %>
    </p>
  </div>
  <div class="sending__message jumbotron">
    <form id="usrform">
      <label>Say something:</label><br>
      <input type="text" class="send-message" style="text-align:center; width:300px" data-behavior="room_speaker" placeholder="Message">
    </form>
  </div>

  <div style="text-align:center">
    <div class="message-group scrollingContainer">
      <div id="messages">
      <%= render @messages %>
      </div>
    </div>
  </div>

</div>
