<div class="container" style="text-align:center">

  <div class="sending__message jumbotron">
    <h1>aceChat</h1>
    <form id="usrform">
      <label>Say something:</label><br>
      <input type="text" class="send-message" style="text-align:center; width:300px" data-behavior="room_speaker" placeholder="Message">
    </form>
  </div>

  <div style="text-align:center">
    <div class="message-group scrollingContainer">
      <div id="messages">
      <%= render "messages" %>
      </div>
    </div>
  </div>

</div>
