<div class="container" style="text-align:center">
  <h1>ciCADA Chat</h1>

  <div class="user__list jumbotron">
    <h3>Users Online:</h3>
    <% User.all.each do |user| %>
      <% if user.current_sign_in_at < 0.minutes.ago && user.current_sign_in_at > 5.minutes.ago %>
        <p style="font-size:15px">- <%= user.username %> is online. </p>
      <% end %>
    <% end %>
  </div>

  <div class="sending__message jumbotron">
    <form id="usrform">
      <label>Say something:</label><br>
      <input type="text" class="send-message" style="text-align:center; width:300px" data-behavior="room_speaker" placeholder="Message">
    </form>
  </div>

  <div style="text-align:center">
    <div class="message-group scrollingContainer">
      <div id="messages">
      <%= render "messages" %>
      </div>
    </div>
  </div>

</div>
