<div class="container" style="text-align:center">
  <h1>ciCADA Chat</h1>
  <div class="sending__message">
    <form>
      <label>Say something:</label><br>
      <input type="text" class="send-message" data-behavior="room_speaker">
    </form>
  </div>

  <div style="text-align:center">
  <div class="message-group scrollingContainer">
    <div id="messages">
    <%= render @messages %>
    </div>
  </div>
  </div>

</div>
